<!--
    file: show_releases.html
    Andrew Jarcho
    2022-06-21
-->
{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %}Show Releases{% endblock %}</h2>
    
    <h3><p>Searching for: {{ query }}</p></h3>

    {% if releases %}
        {% for release in releases %}
            <div class="release">
                <h3>{{ release }}</h3>
            </div>
        {% endfor %}
    {% else %}
        <div class="release">
            <h3>Sorry, we don't have that one (yet).</h3>
        </div>
    {% endif %}
{% endblock %}
